@import "variables";

.modal-wrapper {
  background-color: rgba(255, 255, 255, 0.886);
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
}

@keyframes modal {
  from {
    margin-bottom: -100px;
    opacity: 0%;
  }

  to {
    margin-bottom: 0px;
    opacity: 100%;
  }
}

.modal {
  animation-duration: 0.7s;
  animation-name: modal;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50vw;
  max-width: 500px;
  min-width: 380px;
  min-height: 420px;
  height: 50vw;
  max-height: 500px;
  background-color: white;
  position: absolute;
  box-shadow: 0 0 30px #480f0f1b;

  form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60%;
  }

  label {
    font-family: "AvenirBook";
    font-size: 14px;
    letter-spacing: 0;
    align-self: flex-start;
  }

  .input-main {
    width: 100%;
    margin-bottom: 30px;
  }
  h3 {
    margin-bottom: 30px;
  }

  .main-button {
    margin-bottom: 20px;
  }
}

.logout {
  display: flex;
  align-items: center;

  span {
    font-family: "AvenirBook";
    font-size: 14px;
    color: $marvel-red;
    letter-spacing: 0;
  }
  img {
    height: 30px;
    margin-left: 10px;
  }
}
